* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* background-color: yellow; */
}

#content {
  display: grid;
  height: 100%;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
}

#header {
  grid-area: 1/1/2/3;
  background-color: aqua;
}

#sidebar {
  grid-area: 2/1/3/2;
  background-color: blue;
}
